body {
    font-family: courier, monospace;
}

h1 {
    text-align: center;
}

.start {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
    padding-top: 12px;
}

#turn {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 36px;
}

.fov {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.gameboard {
    display: flex;
    flex-direction: column;
    flex: 0;
    height: 720px;
    width: 720px;
  }

.row {
    display: flex;
    height: 240px;
    width: 720px;
}

.box {
    height: auto;
    width: max-content;
    background-color: #FFFFFF;
    margin: 1px;
    flex: 1;
    border: 1px solid gray;
    text-align: center;
}

.gameText {
    font-size: 196px;
    font-weight: bold;
}

.player {
    flex: 1;
    text-align: center;
    height: auto;
    width: max-content;
    font-size: 24px;
    font-weight: bold;
}

.winStyle {
    background-color: red;
    color: white;
}



